header {
  display: flex;
  justify-content: space-between;
  background-image: white;
  background-image: linear-gradient(180deg, white 70%, #ffd8d0 100%);
  box-shadow: 3px 3px 3px 1px rgba(112, 112, 112, 0.4); }
  header .header__menu {
    display: flex;
    color: #BC422B; }
    header .header__menu nav {
      display: flex; }
      header .header__menu nav ul {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin: 5px;
        align-items: center; }
        header .header__menu nav ul li {
          display: flex;
          margin: 10px; }
          header .header__menu nav ul li a {
            display: flex;
            font-weight: 700;
            color: #BC422B;
            font-family: "DM Sans", sans-serif;
            text-decoration: none; }
            header .header__menu nav ul li a:hover {
              transform: scale(1.1); }
  header .header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px; }
    header .header__logo .contenedor__logo {
      display: flex;
      width: 20%; }
      header .header__logo .contenedor__logo .logo {
        width: 90%; }
        header .header__logo .contenedor__logo .logo:hover {
          transform: scale(1.1); }

footer {
  display: flex;
  background-color: #FFF7F6;
  width: 100%;
  margin: 40px 0px 0px 0px;
  padding: 0px; }
  footer .footer__redes {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 30px; }
    footer .footer__redes .footer__logo {
      width: 50%; }
      footer .footer__redes .footer__logo:hover {
        transform: scale(1.1); }
    footer .footer__redes .footer__iconos {
      display: flex;
      flex-direction: row; }
      footer .footer__redes .footer__iconos .icono {
        width: 70%; }
        footer .footer__redes .footer__iconos .icono:hover {
          transform: scale(1.2); }
  footer .footer__menu {
    display: flex;
    flex-direction: column; }
    footer .footer__menu .categorias {
      display: flex;
      flex-direction: row;
      color: #BC422B; }
      footer .footer__menu .categorias .footer__div {
        margin: 15px; }
        footer .footer__menu .categorias .footer__div ul {
          display: flex;
          flex-direction: column; }
          footer .footer__menu .categorias .footer__div ul li {
            display: flex;
            margin: 10px; }
            footer .footer__menu .categorias .footer__div ul li a {
              display: flex;
              font-weight: 500;
              color: #BC422B;
              text-decoration: none; }
              footer .footer__menu .categorias .footer__div ul li a:hover {
                transform: scale(1.1); }
        footer .footer__menu .categorias .footer__div p:hover {
          transform: scale(1.1); }
    footer .footer__menu .footer__derechos {
      display: flex;
      justify-content: center;
      color: #BC422B; }

#menuNav {
  margin-left: 20px;
  align-self: center;
  display: inline-block;
  height: 140%;
  aspect-ratio: 1/1;
  border: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../recursos/logos/menu-hamburguesa.svg);
  background-size: cover;
  background-repeat: no-repeat; }

@media all and (min-width: 540px) {
  #menuNav {
    display: none; } }

.menuDesplegable {
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  min-height: 100% !important;
  max-width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  transition: .3s; }

.menuDesplegable div {
  display: flex;
  width: 90%;
  height: 40px;
  justify-content: flex-end; }

.menuDesplegable div button {
  align-self: center;
  justify-self: flex-end;
  display: block;
  height: 10px;
  aspect-ratio: 1/1;
  border: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  background-image: url(../recursos/logos/flecha-pequena-izquierda.svg);
  background-size: cover;
  background-repeat: no-repeat; }

.menuDesplegable a {
  align-self: center;
  width: 50%;
  text-align: center;
  margin: 3em;
  display: inline-block;
  text-decoration: none;
  color: #bc422b;
  padding-bottom: .5em;
  border-bottom: .2em solid #525252;
  font-size: 1em;
  font-family: "Poppins",sans-serif;
  overflow-y: hidden !important; }

.hidden {
  position: fixed;
  top: 0;
  left: -100%; }

.visible {
  display: flex;
  left: 0px;
  bottom: 0; }

#productosImpresos {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  width: 90%;
  align-self: center;
  transition: .5s; }

.tarjetaProducto {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px #d9d8d8;
  padding: 10px;
  margin: 15px;
  border-style: solid;
  border-color: #c8c8c8;
  border-radius: 20px;
  font-family: "Poppins",sans-serif;
  font-size: 1rem;
  width: 20%;
  transition: .3s;
  justify-content: space-between;
  align-content: center; }

@media all and (max-width: 920px) {
  .tarjetaProducto {
    width: 45%; } }

@media all and (max-width: 500px) {
  .tarjetaProducto {
    width: 85%; } }

.tarjetaProducto .imgProducto {
  align-self: center;
  cursor: crosshair;
  width: 95%; }

.tarjetaProducto .imgProducto img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  max-height: fit-content;
  border-radius: 20px; }

.tarjetaProducto h1 {
  width: 100%;
  padding: 5px;
  text-align: center;
  justify-content: center;
  color: #343434;
  font-family: sans-serif;
  font-size: 1.5rem;
  align-self: center; }

.tarjetaProducto a {
  display: flex;
  width: 80%;
  text-decoration: none;
  align-self: center;
  justify-content: center; }

.tarjetaProducto a button {
  display: flex;
  cursor: pointer;
  max-height: 2em;
  background-color: #fff;
  border: 1px solid #d6492b;
  border-radius: 15px;
  color: #d6492b;
  align-items: center;
  padding: 10px;
  transition: .5s; }

.tarjetaProducto a button:hover {
  background-color: #d6492b;
  color: #fff; }

.searchNav {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 3em; }

.searchNav .buscador {
  background-color: #fff;
  border: 1px solid #d6492b;
  color: #d6492b;
  justify-self: center;
  align-self: center;
  height: 70%;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  font-weight: 500; }

.categoryNav {
  background-color: #fff;
  display: flex;
  height: 4em;
  align-content: center;
  justify-content: space-around;
  padding: 0% 35%;
  box-shadow: 3px 3px 3px 1px rgba(112, 112, 112, 0.4); }

@media all and (max-width: 920px) {
  .categoryNav {
    padding: 10%; } }

.categoryNav button {
  align-self: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d6492b;
  border-radius: 20px;
  color: #d6492b;
  transition: .1s;
  padding: 0 1em;
  min-width: 36px; }

.categoryNav button:hover {
  background-color: #d6492b;
  color: #fff; }

.categoryNav p {
  cursor: pointer;
  color: #d6492b;
  text-decoration: none; }

.categoryNav p:hover {
  transform: scale(1.1); }

.catdestacado {
  background-color: #d6492b !important;
  color: #fff !important; }

/*
@media (min-width: 320px) and (max-width: 539px){
    &__header{
        .header__menu{
            nav{
                ul{
                    display: none;
                }
            }
        }
        .header__logo{
            .contenedor__logo{
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }
        }
    }
}*/
.producto__main {
  display: flex;
  flex-direction: column;
  margin: 0rem 8rem 0rem 8rem; }

.producto__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  .producto__contenedor .titulo-oculto {
    display: none;
    margin: 0px;
    color: #BC422B;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: larger; }
  .producto__contenedor .detalle-imagenes {
    width: 100%;
    margin: 30px; }
    .producto__contenedor .detalle-imagenes .imagen-grande .foto-producto {
      width: 90%;
      border-radius: 20px;
      margin-left: 10px; }
    .producto__contenedor .detalle-imagenes .imagenes {
      display: flex;
      flex-direction: row; }
      .producto__contenedor .detalle-imagenes .imagenes .fotochica {
        width: 20%;
        margin: 10px;
        border-radius: 20px; }
        .producto__contenedor .detalle-imagenes .imagenes .fotochica:hover {
          transform: scale(2); }
  .producto__contenedor .detalle-descripcion {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 70%; }
    .producto__contenedor .detalle-descripcion h1 {
      color: #BC422B;
      font-family: "Raleway", sans-serif; }
    .producto__contenedor .detalle-descripcion p {
      font-family: "Poppins", sans-serif;
      color: #525252;
      font-size: 16px;
      font-weight: 300; }
    .producto__contenedor .detalle-descripcion ul {
      padding: 0px; }
      .producto__contenedor .detalle-descripcion ul .caracteristica {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .producto__contenedor .detalle-descripcion ul .caracteristica .tilde {
          display: flex;
          width: 16px;
          height: 16px; }
        .producto__contenedor .detalle-descripcion ul .caracteristica li {
          display: flex;
          margin: 10px 0px 10px 5px;
          font-family: "Poppins", sans-serif;
          font-size: 1rem;
          color: #525252;
          font-size: 16px;
          font-weight: 300;
          text-decoration: none; }
    .producto__contenedor .detalle-descripcion .boton {
      padding: 15px 25px 15px 25px;
      margin: 10px;
      border-radius: 25px;
      background-image: linear-gradient(90deg, #f2d1d1 0%, #d6492b 30%);
      color: white;
      border: none; }
      .producto__contenedor .detalle-descripcion .boton:hover {
        transform: scale(1.1); }

.producto__similares .titulo__similares {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  margin: 30px 0px 20px 0px;
  color: #525252; }

.producto__similares .juguetes__similares {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .producto__similares .juguetes__similares a {
    width: 25%;
    text-decoration: none; }
    .producto__similares .juguetes__similares a:hover {
      transform: scale(1.1); }
    .producto__similares .juguetes__similares a .card__similares {
      display: flex;
      flex-direction: column;
      box-shadow: 2px 2px 2px 1px rgba(152, 151, 151, 0.2);
      padding: 5px;
      margin: 15px;
      border: 2px;
      border-style: solid;
      border-color: #C8C8C8;
      border-radius: 18px;
      font-family: "Poppins", sans-serif;
      font-size: 1rem; }
      .producto__similares .juguetes__similares a .card__similares .card__consultanos {
        display: flex;
        justify-content: center; }
      .producto__similares .juguetes__similares a .card__similares .imagen__juguete {
        width: 100%;
        border-radius: 18px; }
      .producto__similares .juguetes__similares a .card__similares h5 {
        margin: 10px 5px 5px 5px;
        font-size: 1rem;
        color: #343434; }
      .producto__similares .juguetes__similares a .card__similares p {
        margin: 0px 0px 0px 5px;
        font-size: 0.8rem;
        color: #343434; }

.producto__similares .boton__similares {
  display: flex;
  justify-content: center; }
  .producto__similares .boton__similares .boton {
    padding: 15px 25px 15px 25px;
    margin: 10px 10px 50px 10px;
    border-width: 1px;
    border-radius: 25px;
    background-color: white;
    border-color: #D6492B;
    color: #D6492B; }
    .producto__similares .boton__similares .boton:hover {
      transform: scale(1.1);
      color: white;
      background-color: #D6492B;
      border: none; }

@media (min-width: 721px) and (max-width: 991px) {
  .producto__contenedor {
    display: flex;
    flex-direction: column; }
    .producto__contenedor .titulo-oculto {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 25px;
      margin: 30px 0px 0px 0px; }
    .producto__contenedor .detalle-imagenes .imagen-grande .foto-producto {
      margin: 0px; }
    .producto__contenedor .detalle-imagenes .imagenes {
      display: none; }
    .producto__contenedor .detalle-descripcion {
      display: flex;
      width: 100%; }
      .producto__contenedor .detalle-descripcion h1 {
        display: none; }
    .producto__contenedor .boton-producto {
      display: flex;
      justify-content: center; }
  .producto__similares .titulo__similares {
    margin: 0px; }
  .producto__similares .juguetes__similares {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .producto__similares .juguetes__similares a {
      width: 60%; }
  .producto__similares .boton__similares .boton {
    margin: 0px;
    padding: 20px 35px 20px 35px;
    border-radius: 20px;
    font-size: 15px; }
  .producto__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .producto__footer .footer__menu {
      display: flex; }
      .producto__footer .footer__menu .categorias {
        display: flex;
        flex-direction: column; }
        .producto__footer .footer__menu .categorias .footer__div {
          display: none; }
    .producto__footer .footer__redes {
      display: flex;
      margin: 0px;
      width: 100%;
      align-items: center; }
      .producto__footer .footer__redes a {
        display: flex;
        justify-content: center;
        margin: 10px 0px 10px 0px; }
        .producto__footer .footer__redes a .footer__logo {
          width: 30%; }
          .producto__footer .footer__redes a .footer__logo:hover {
            transform: scale(1); } }

@media (min-width: 540px) and (max-width: 720px) {
  .producto__header .header__logo .contenedor__logo {
    width: 30%; }
    .producto__header .header__logo .contenedor__logo .logo {
      display: flex;
      width: 100%; }
  .producto__contenedor {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px; }
    .producto__contenedor .titulo-oculto {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 25px; }
    .producto__contenedor .detalle-imagenes .imagen-grande .foto-producto {
      margin: 0px; }
    .producto__contenedor .detalle-imagenes .imagenes {
      display: none; }
    .producto__contenedor .detalle-descripcion {
      display: flex;
      width: 100%; }
      .producto__contenedor .detalle-descripcion h1 {
        display: none; }
    .producto__contenedor .boton-producto {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0px; }
  .producto__similares .juguetes__similares {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .producto__similares .juguetes__similares a {
      width: 60%; }
  .producto__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .producto__footer .footer__menu {
      display: flex; }
      .producto__footer .footer__menu .categorias {
        display: flex;
        flex-direction: column; }
        .producto__footer .footer__menu .categorias .footer__div {
          display: none; }
    .producto__footer .footer__redes {
      display: flex;
      margin: 0px;
      width: 100%;
      align-items: center; }
      .producto__footer .footer__redes a {
        display: flex;
        justify-content: center;
        margin: 10px 0px 10px 0px; }
        .producto__footer .footer__redes a .footer__logo {
          width: 30%; }
          .producto__footer .footer__redes a .footer__logo:hover {
            transform: scale(1); } }

@media (min-width: 320px) and (max-width: 539px) {
  .producto__header .header__menu nav ul {
    display: none; }
  .producto__header .header__logo .contenedor__logo {
    display: flex;
    justify-content: flex-end;
    width: 30%; }
  .producto__main {
    display: flex;
    flex-direction: column;
    margin: 20px; }
  .producto__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px; }
    .producto__contenedor .titulo-oculto {
      display: flex;
      justify-content: center; }
    .producto__contenedor .detalle-imagenes {
      display: flex;
      flex-direction: column; }
      .producto__contenedor .detalle-imagenes .imagen-grande {
        display: flex;
        justify-content: center; }
        .producto__contenedor .detalle-imagenes .imagen-grande .foto-producto {
          width: 100%;
          display: flex;
          border-radius: 20px;
          margin: 0px; }
      .producto__contenedor .detalle-imagenes .imagenes {
        display: none; }
    .producto__contenedor .detalle-descripcion {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0px; }
      .producto__contenedor .detalle-descripcion .boton-producto {
        display: flex;
        justify-content: center; }
        .producto__contenedor .detalle-descripcion .boton-producto:hover {
          transform: scale(1); }
      .producto__contenedor .detalle-descripcion h1 {
        display: none; }
  .producto__similares {
    display: flex;
    flex-direction: column; }
    .producto__similares .titulo__similares {
      margin: 25px 0px 0px 0px; }
    .producto__similares .juguetes__similares {
      display: flex;
      flex-direction: column;
      align-content: center; }
      .producto__similares .juguetes__similares a {
        width: 60%; }
  .producto__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .producto__footer .footer__menu {
      display: flex; }
      .producto__footer .footer__menu .categorias {
        display: flex;
        flex-direction: column; }
        .producto__footer .footer__menu .categorias .footer__div {
          display: none; }
    .producto__footer .footer__redes {
      display: flex;
      margin: 0px;
      width: 100%;
      align-items: center; }
      .producto__footer .footer__redes a {
        display: flex;
        justify-content: center;
        margin: 10px 0px 10px 0px; }
        .producto__footer .footer__redes a .footer__logo {
          width: 50%; }
          .producto__footer .footer__redes a .footer__logo:hover {
            transform: scale(1); } }

body {
  margin: 0px;
  padding: 0px; }

.nosotros__main h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  color: #525252; }

.nosotros__main h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #525252; }

.nosotros__main h6 {
  font-size: 1rem;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #525252; }

.nosotros__main p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #525252;
  font-size: 16px;
  font-weight: 300;
  text-align: justify; }

.nosotros__titulo {
  display: flex;
  justify-content: center;
  margin: 45px 0px 20px 0px; }

.nosotros__texto1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 20px 0px 20px;
  padding: 20px; }
  .nosotros__texto1 .imagen {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end; }
    .nosotros__texto1 .imagen img {
      width: 70%; }
  .nosotros__texto1 .texto {
    display: flex;
    width: 100%;
    padding: 10px; }
    .nosotros__texto1 .texto p {
      width: 60%; }

.nosotros__titulo2 {
  display: flex;
  justify-content: center; }

.nosotros__texto2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 20px 0px 20px;
  padding: 20px; }
  .nosotros__texto2 .imagen {
    display: flex;
    width: 100%;
    align-items: center;
    border-left: 1px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid; }
    .nosotros__texto2 .imagen img {
      width: 60%; }
  .nosotros__texto2 .texto {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-right: 5px;
    justify-content: end; }
    .nosotros__texto2 .texto p {
      width: 60%; }

.nosotros__titulo3 {
  display: flex;
  justify-content: center; }

.nosotros__logros {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .nosotros__logros .logro {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 10px 15px 15px 15px;
    margin: 0px 0px 30px 0px; }
    .nosotros__logros .logro .ilustracion img {
      width: 100%;
      margin: -10px 0px 0px 0px; }
    .nosotros__logros .logro .fecha {
      display: flex;
      flex-direction: column;
      margin: 0px 20px 0px 20px; }

.nosotros__proposito {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .nosotros__proposito .texto {
    width: 70%; }
  .nosotros__proposito img {
    width: 30%; }

@media (min-width: 721px) and (max-width: 991px) {
  .nosotros__main h2 {
    font-size: 2rem;
    margin: 0px; }
  .nosotros__main h3 {
    font-size: 1.8rem;
    margin: 20px 0px 20px 0px; }
  .nosotros__main h6 {
    font-size: 1.2rem; }
  .nosotros__main p {
    font-size: 1.1rem; }
  .nosotros__titulo {
    display: flex;
    justify-content: center;
    margin: 45px 0px 0px 0px; }
  .nosotros__texto1 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px; }
    .nosotros__texto1 .texto {
      display: flex;
      justify-content: center;
      padding: 0px; }
      .nosotros__texto1 .texto p {
        width: 90%; }
    .nosotros__texto1 .imagen {
      display: flex;
      justify-content: center; }
      .nosotros__texto1 .imagen img {
        width: 60%; }
  .nosotros__texto2 {
    display: flex;
    flex-direction: column; }
    .nosotros__texto2 .texto {
      display: flex;
      justify-content: center; }
      .nosotros__texto2 .texto p {
        width: 90%; }
  .nosotros__logros .logro {
    width: 90%;
    padding: 0px;
    margin: 10px; }
    .nosotros__logros .logro .ilustracion {
      display: flex;
      align-items: center;
      justify-content: center; }
      .nosotros__logros .logro .ilustracion img {
        width: 60%; }
    .nosotros__logros .logro .fecha {
      width: 80%;
      margin: 20px; }
  .nosotros__proposito .texto {
    width: 85%; }
    .nosotros__proposito .texto p {
      font-size: 1.2rem; }
  .nosotros__proposito img {
    width: 50%; } }

@media (min-width: 540px) and (max-width: 720px) {
  .nosotros__header .header__logo .contenedor__logo {
    width: 30%; }
    .nosotros__header .header__logo .contenedor__logo .logo {
      display: flex;
      width: 100%; }
  .nosotros__main h2 {
    font-size: 2rem;
    margin: 0px; }
  .nosotros__main h3 {
    font-size: 1.8rem;
    margin: 40px 0px 20px 0px; }
  .nosotros__main h6 {
    font-size: 1.2rem; }
  .nosotros__main p {
    font-size: 1.1rem; }
  .nosotros__titulo {
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px; }
  .nosotros__texto1 {
    display: flex;
    flex-direction: column-reverse; }
    .nosotros__texto1 .texto {
      display: flex;
      justify-content: center;
      padding: 0px; }
      .nosotros__texto1 .texto p {
        width: 90%; }
    .nosotros__texto1 .imagen {
      display: flex;
      justify-content: center; }
      .nosotros__texto1 .imagen img {
        width: 70%;
        margin: 10px; }
  .nosotros__titulo2 h3 {
    display: flex;
    margin: 15px 0px 0px 0px; }
  .nosotros__texto2 {
    display: flex;
    flex-direction: column; }
    .nosotros__texto2 .texto {
      display: flex;
      justify-content: center; }
      .nosotros__texto2 .texto p {
        width: 90%; }
  .nosotros__logros {
    margin: 30px; }
    .nosotros__logros .logro {
      width: 90%;
      padding: 0px;
      justify-content: center;
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 4px;
      border-color: #D6492B;
      border-style: dotted; }
      .nosotros__logros .logro .ilustracion {
        display: none; }
      .nosotros__logros .logro .fecha {
        width: 100%;
        margin: 0px; }
  .nosotros__proposito .texto {
    width: 85%; }
    .nosotros__proposito .texto p {
      font-size: 1.2rem; }
  .nosotros__proposito img {
    width: 80%; } }

@media (min-width: 320px) and (max-width: 539px) {
  .nosotros__header .header__menu nav ul {
    display: none; }
  .nosotros__header .header__logo .contenedor__logo {
    display: flex;
    justify-content: flex-end;
    width: 30%; }
  .nosotros__main h2 {
    font-size: 1.5rem;
    margin: 0px; }
  .nosotros__main h3 {
    font-size: 1.3rem; }
  .nosotros__main h6 {
    font-size: 1rem; }
  .nosotros__main p {
    font-size: 1rem; }
  .nosotros__titulo {
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px; }
  .nosotros__texto1 {
    display: flex;
    flex-direction: column-reverse; }
    .nosotros__texto1 .texto {
      display: flex;
      justify-content: center;
      padding: 0px; }
      .nosotros__texto1 .texto p {
        width: 100%; }
    .nosotros__texto1 .imagen {
      display: flex;
      justify-content: center; }
      .nosotros__texto1 .imagen img {
        width: 70%;
        margin: 10px; }
  .nosotros__titulo2 h3 {
    display: flex;
    margin: 15px 0px 0px 0px; }
  .nosotros__texto2 {
    display: flex;
    flex-direction: column; }
    .nosotros__texto2 .texto {
      display: flex;
      justify-content: center; }
      .nosotros__texto2 .texto p {
        width: 90%; }
  .nosotros__logros {
    margin: 30px; }
    .nosotros__logros .logro {
      width: 90%;
      padding: 0px;
      justify-content: center;
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 4px;
      border-color: #D6492B;
      border-style: dotted; }
      .nosotros__logros .logro .ilustracion {
        display: none; }
      .nosotros__logros .logro .fecha {
        width: 100%;
        margin: 0px; }
  .nosotros__proposito .texto {
    width: 85%; }
  .nosotros__proposito img {
    width: 80%; } }

body {
  margin: 0px;
  padding: 0px; }

.reciclemos__main {
  display: flex;
  flex-direction: column; }
  .reciclemos__main h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.2rem;
    color: #525252; }
  .reciclemos__main h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    color: #525252; }
  .reciclemos__main p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #525252;
    font-size: 16px;
    font-weight: 300;
    text-align: justify; }

.reciclemos__titulo {
  display: flex;
  justify-content: center;
  margin: 20px 0px 0px 0px; }

.reciclemos__texto1 {
  display: flex;
  flex-direction: row;
  padding: 22px;
  justify-content: center; }
  .reciclemos__texto1 .imagen {
    display: flex;
    width: 30%;
    align-items: center; }
    .reciclemos__texto1 .imagen img {
      width: 80%; }
  .reciclemos__texto1 .texto {
    display: flex;
    flex-direction: column;
    background-color: #FFF1EE;
    border-radius: 15px;
    width: 30%;
    text-align: justify;
    padding: 20px 20px 0px 20px; }
    .reciclemos__texto1 .texto h2 {
      margin: 0px; }

.reciclemos__texto2 {
  display: flex;
  flex-direction: row;
  padding: 22px;
  justify-content: center; }
  .reciclemos__texto2 .imagen {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center; }
    .reciclemos__texto2 .imagen img {
      width: 80%;
      margin: 10px; }
  .reciclemos__texto2 .texto {
    display: flex;
    flex-direction: column;
    background-color: #FFF1EE;
    border-radius: 15px;
    width: 30%;
    text-align: justify;
    padding: 20px 20px 0px 20px; }
    .reciclemos__texto2 .texto h2 {
      margin: 0px; }

@media (min-width: 721px) and (max-width: 991px) {
  .reciclemos__texto1 {
    display: flex; }
    .reciclemos__texto1 .imagen {
      width: 50%; }
    .reciclemos__texto1 .texto {
      width: 50%; }
  .reciclemos__texto2 {
    display: flex; }
    .reciclemos__texto2 .imagen {
      width: 50%; }
    .reciclemos__texto2 .texto {
      width: 50%; } }

@media (min-width: 540px) and (max-width: 720px) {
  .reciclemos__header .header__logo .contenedor__logo {
    width: 30%; }
    .reciclemos__header .header__logo .contenedor__logo .logo {
      display: flex;
      width: 100%; }
  .reciclemos__texto1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    .reciclemos__texto1 .imagen {
      display: flex;
      width: 100%;
      margin: 10px;
      justify-content: center; }
      .reciclemos__texto1 .imagen img {
        width: 50%; }
    .reciclemos__texto1 .texto {
      width: 90%; }
  .reciclemos__texto2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .reciclemos__texto2 .imagen {
      display: flex;
      width: 100%;
      margin: 10px;
      justify-content: center; }
      .reciclemos__texto2 .imagen .foto2 {
        display: none; }
      .reciclemos__texto2 .imagen img {
        width: 50%; }
    .reciclemos__texto2 .texto {
      width: 90%; } }

@media (min-width: 320px) and (max-width: 540px) {
  .reciclemos__header .header__menu nav ul {
    display: none; }
  .reciclemos__header .header__logo .contenedor__logo {
    display: flex;
    justify-content: flex-end;
    width: 30%; }
  .reciclemos__texto1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    .reciclemos__texto1 .imagen {
      display: flex;
      width: 100%;
      margin: 10px;
      justify-content: center; }
      .reciclemos__texto1 .imagen img {
        width: 60%; }
    .reciclemos__texto1 .texto {
      width: 90%; }
  .reciclemos__texto2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .reciclemos__texto2 .imagen {
      display: flex;
      width: 100%;
      margin: 10px;
      justify-content: center; }
      .reciclemos__texto2 .imagen .foto2 {
        display: none; }
      .reciclemos__texto2 .imagen img {
        width: 70%; }
    .reciclemos__texto2 .texto {
      width: 90%; } }

body {
  margin: 0px;
  padding: 0px; }

.index__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px; }

.index__inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 70px; }
  .index__inicio .inicio__texto {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%; }
    .index__inicio .inicio__texto h1 {
      font-family: "Raleway", sans-serif;
      font-size: 3rem;
      color: #525252; }
    .index__inicio .inicio__texto p {
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      color: #525252;
      font-size: 16px;
      font-weight: 300; }
    .index__inicio .inicio__texto .boton1 {
      padding: 15px 25px 15px 25px;
      margin: 10px;
      border-radius: 25px;
      background-image: linear-gradient(90deg, #f2d1d1 0%, #d6492b 30%);
      color: white;
      border: none; }
      .index__inicio .inicio__texto .boton1:hover {
        transform: scale(1.1); }
    .index__inicio .inicio__texto .boton2 {
      padding: 15px 25px 15px 25px;
      border-radius: 20px;
      background-color: white;
      border: none;
      color: #D6492B;
      margin: 5px; }
      .index__inicio .inicio__texto .boton2:hover {
        transform: scale(1.1); }
  .index__inicio .inicio__imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%; }
    .index__inicio .inicio__imagen .img_principal {
      width: 80%;
      border-radius: 18px; }
  .index__inicio .titulo-oculto {
    display: none; }

.index__juguetes {
  margin: 50px; }
  .index__juguetes .titulo__juguetes {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    margin: 50px 0px 20px 0px;
    color: #525252; }
  .index__juguetes .juguetes__categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 40px 0px 40px; }
    .index__juguetes .juguetes__categorias a {
      display: flex;
      width: 25%;
      text-decoration: none; }
      .index__juguetes .juguetes__categorias a .card__juguetes {
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 2px #d9d8d8;
        padding: 5px;
        margin: 15px;
        border-style: solid;
        border-color: #C8C8C8;
        border-radius: 18px;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        width: 100%; }
        .index__juguetes .juguetes__categorias a .card__juguetes .card__consultanos {
          display: flex;
          justify-content: center; }
        .index__juguetes .juguetes__categorias a .card__juguetes .imagen__juguete {
          width: 100%;
          border-radius: 18px; }
        .index__juguetes .juguetes__categorias a .card__juguetes h5 {
          margin: 10px 5px 5px 5px;
          font-size: 1rem;
          color: #343434; }
        .index__juguetes .juguetes__categorias a .card__juguetes p {
          margin: 0px 0px 0px 5px;
          font-size: 0.8rem;
          color: #343434; }
      .index__juguetes .juguetes__categorias a:hover {
        transform: scale(1.1); }
  .index__juguetes .boton__similares {
    display: flex;
    justify-content: center; }
    .index__juguetes .boton__similares .boton {
      padding: 15px 25px 15px 25px;
      margin: 10px 10px 50px 10px;
      border-width: 1px;
      border-radius: 25px;
      background-color: white;
      border-color: #D6492B;
      color: #D6492B; }
      .index__juguetes .boton__similares .boton:hover {
        transform: scale(1.1);
        color: white;
        background-color: #D6492B;
        border: none; }

.index__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /*background-image: url(../recursos/imagenes/index/fondoinfo.png);*/ }
  .index__info img {
    width: 30%; }
  .index__info .info__categorias {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 20px 0px; }
    .index__info .info__categorias .card__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin: 20px;
      width: 40%;
      font-family: "Poppins", sans-serif; }
      .index__info .info__categorias .card__info:hover {
        transform: scale(1.1); }
      .index__info .info__categorias .card__info h5 {
        color: black;
        font-size: 1.2rem;
        margin: 15px 0px 10px 0px; }
      .index__info .info__categorias .card__info p {
        display: flex;
        color: #525252;
        font-size: 1rem;
        margin: 10px 0px 10px 0px; }

.index__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  align-items: center; }
  .index__contenedor .img__contenedor {
    width: 60%; }
  .index__contenedor p {
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    color: #525252;
    width: 85%;
    font-size: larger; }
  .index__contenedor h2 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    color: #102437; }
  .index__contenedor h1 {
    font-family: "Raleway", sans-serif;
    color: #525252;
    justify-items: center;
    font-size: 2.3rem; }

.index__contenedortitulo:first-child {
  grid-column: 1/3;
  display: flex;
  justify-content: center; }

.index__desarrollo-oculto:nth-child(2) {
  display: none; }

.index__desarrolloimg:nth-child(3) {
  grid-column: 1/2;
  display: flex; }

.index__desarrollo:nth-child(4) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column; }

.index__reciclado-oculto:nth-child(5) {
  display: none; }

.index__reciclado:nth-child(6) {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center; }

.index__recicladoimg:nth-child(7) {
  grid-column: 2/3;
  display: flex;
  justify-content: center; }

.index__emociones-oculto:nth-child(8) {
  display: none; }

.index__emocionesimg:nth-child(9) {
  grid-column: 1/2;
  display: flex; }

.index__emociones:nth-child(10) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column; }

/* MEDIA QUERIES */
@media (min-width: 991px) and (max-width: 1100px) {
  .index__info {
    display: flex; }
    .index__info img {
      width: 45%; }
  .index__contenedor .index__contenedortitulo {
    margin: 20px; }
  .index__contenedor .index__desarrolloimg {
    margin: 0px 0px 25px 0px; }
  .index__contenedor .index__desarrollo {
    margin: 0px 0px 25px 0px; }
  .index__contenedor .index__reciclado {
    margin: 0px 0px 25px 0px; }
  .index__contenedor .index__recicladoimg {
    margin: 0px 0px 25px 0px; }
  .index__contenedor .index__emocionesimg {
    margin: 0px 0px 25px 0px; }
  .index__contenedor .index__emociones {
    margin: 0px 0px 25px 0px; }
  .index__footer {
    display: flex; }
    .index__footer .footer__redes {
      display: flex;
      padding: 10px;
      margin: 0px;
      width: 100%; }
      .index__footer .footer__redes .footer__img a {
        display: flex; }
        .index__footer .footer__redes .footer__img a img {
          width: 60%; } }

@media (min-width: 721px) and (max-width: 990px) {
  .index__inicio {
    display: flex;
    margin: 30px; }
    .index__inicio .inicio__texto {
      margin: 20px; }
      .index__inicio .inicio__texto h1 {
        font-size: 2rem; }
    .index__inicio .inicio__imagen {
      display: flex;
      width: 50%; }
  .index__juguetes {
    margin: 0px; }
    .index__juguetes .juguetes__categorias {
      display: flex;
      margin: 0px; }
      .index__juguetes .juguetes__categorias a {
        display: flex;
        text-align: center;
        width: 30%; }
  .index__info .info__categorias {
    margin: 0px 0px 20px 0px; }
    .index__info .info__categorias .card__info {
      margin: 30px;
      padding: 0px;
      justify-content: flex-start; }
      .index__info .info__categorias .card__info img {
        width: 40%; }
      .index__info .info__categorias .card__info h5 {
        font-size: 1rem; }
      .index__info .info__categorias .card__info p {
        display: flex;
        text-align: center;
        font-size: 1rem; }
  .index__contenedor .index__contenedortitulo {
    margin: 20px; }
  .index__contenedor .index__desarrolloimg {
    margin: 0px 0px 25px 0px; }
    .index__contenedor .index__desarrolloimg img {
      width: 80%; }
  .index__contenedor .index__desarrollo {
    margin: 0px 0px 25px 0px; }
  .index__contenedor .index__reciclado {
    margin: 0px 0px 25px 0px; }
  .index__contenedor .index__recicladoimg {
    margin: 0px 0px 25px 0px; }
    .index__contenedor .index__recicladoimg img {
      width: 80%; }
  .index__contenedor .index__emocionesimg {
    margin: 0px 0px 25px 0px; }
    .index__contenedor .index__emocionesimg img {
      width: 80%; }
  .index__contenedor .index__emociones {
    margin: 0px 0px 25px 0px; }
  .index__footer {
    display: flex;
    flex-direction: column-reverse; }
    .index__footer .footer__redes {
      display: flex;
      padding: 10px;
      margin: 0px;
      width: 100%; }
      .index__footer .footer__redes .footer__img a {
        display: flex;
        justify-content: center; }
        .index__footer .footer__redes .footer__img a img {
          width: 30%; }
      .index__footer .footer__redes .footer__iconos {
        display: flex;
        justify-content: center; }
    .index__footer .footer__menu {
      display: flex; }
      .index__footer .footer__menu .categorias {
        display: flex;
        justify-content: center; }
      .index__footer .footer__menu .footer__derechos {
        display: none; } }

@media (min-width: 541px) and (max-width: 720px) {
  .index__header .header__logo .contenedor__logo {
    width: 30%; }
    .index__header .header__logo .contenedor__logo .logo {
      display: flex;
      width: 100%; }
  .index__inicio {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px; }
    .index__inicio .titulo {
      display: none; }
    .index__inicio .inicio__texto {
      display: flex;
      align-items: center;
      margin: 25px;
      width: 100%; }
    .index__inicio .inicio__imagen {
      margin: 15px;
      width: 100%; }
      .index__inicio .inicio__imagen .img_principal {
        display: flex;
        justify-content: center;
        width: 60%; }
    .index__inicio .titulo-oculto {
      display: flex;
      font-family: "Raleway", sans-serif;
      font-size: 2rem;
      color: #525252;
      margin: 30px;
      text-align: center; }
  .index__juguetes {
    margin: 0px; }
    .index__juguetes .juguetes__categorias {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .index__juguetes .juguetes__categorias a {
        display: flex;
        justify-content: center;
        width: 80%; }
        .index__juguetes .juguetes__categorias a .card__juguetes {
          width: 80%; }
          .index__juguetes .juguetes__categorias a .card__juguetes h5 {
            font-size: 1.2rem; }
          .index__juguetes .juguetes__categorias a .card__juguetes p {
            font-size: 1rem; }
  .index__info {
    display: flex; }
    .index__info img {
      width: 35%; }
    .index__info .info__categorias {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .index__info .info__categorias .card__info {
        display: flex;
        margin: 15px;
        padding: 15px; }
        .index__info .info__categorias .card__info p {
          display: flex;
          text-align: center; }
  .index__contenedor {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .index__contenedor h2 {
      font-size: 1.6rem;
      font-family: "Raleway", sans-serif;
      color: #525252; }
    .index__contenedor .index__contenedortitulo {
      display: flex;
      justify-content: center; }
      .index__contenedor .index__contenedortitulo h1 {
        font-size: 2rem; }
    .index__contenedor .index__desarrollo-oculto {
      display: flex;
      justify-content: center;
      margin: 20px 0px 10px 0px; }
    .index__contenedor .index__desarrolloimg {
      display: flex;
      justify-content: center; }
      .index__contenedor .index__desarrolloimg img {
        width: 50%; }
    .index__contenedor .index__desarrollo {
      display: flex;
      align-items: center; }
      .index__contenedor .index__desarrollo h2 {
        display: none; }
    .index__contenedor .index__reciclado-oculto {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .index__contenedor .index__reciclado-oculto h2 {
        margin: 20px 0px 10px 0px; }
      .index__contenedor .index__reciclado-oculto img {
        width: 50%; }
    .index__contenedor .index__recicladoimg {
      display: none; }
    .index__contenedor .index__reciclado {
      display: flex;
      align-items: center; }
      .index__contenedor .index__reciclado h2 {
        display: none; }
    .index__contenedor .index__emociones-oculto {
      display: flex;
      align-items: center;
      margin: 20px 0px 10px 0px; }
    .index__contenedor .index__emocionesimg {
      display: flex;
      justify-content: center; }
      .index__contenedor .index__emocionesimg img {
        width: 50%; }
    .index__contenedor .index__emociones {
      display: flex;
      align-items: center; }
      .index__contenedor .index__emociones h2 {
        display: none; }
  .index__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .index__footer .footer__menu {
      display: flex; }
      .index__footer .footer__menu .categorias {
        display: flex;
        flex-direction: column; }
        .index__footer .footer__menu .categorias .footer__div {
          display: none; }
    .index__footer .footer__redes {
      display: flex;
      margin: 0px;
      width: 100%;
      align-items: center; }
      .index__footer .footer__redes a {
        display: flex;
        justify-content: center;
        margin: 10px 0px 10px 0px; }
        .index__footer .footer__redes a .footer__logo {
          width: 50%; }
          .index__footer .footer__redes a .footer__logo:hover {
            transform: scale(1); } }

@media (min-width: 320px) and (max-width: 540px) {
  .index__header .header__menu nav ul {
    display: none; }
  .index__header .header__logo .contenedor__logo {
    display: flex;
    justify-content: flex-end;
    width: 30%; }
  .index__main {
    display: flex;
    justify-content: center; }
  .index__inicio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 15px; }
    .index__inicio .inicio__texto {
      width: 100%; }
      .index__inicio .inicio__texto h1 {
        display: none; }
      .index__inicio .inicio__texto p {
        display: flex; }
      .index__inicio .inicio__texto .botones__index {
        display: flex;
        justify-content: center; }
    .index__inicio .inicio__imagen {
      width: 100%;
      margin: 15px; }
      .index__inicio .inicio__imagen .img_principal {
        display: flex;
        width: 50%; }
    .index__inicio .titulo-oculto {
      display: flex;
      font-family: "Raleway", sans-serif;
      font-size: 1rem;
      color: #525252;
      margin: 15px;
      text-align: center; }
  .index__juguetes {
    margin: 0px; }
    .index__juguetes .titulo__juguetes {
      margin: 0px; }
    .index__juguetes .juguetes__categorias {
      display: flex;
      flex-direction: column;
      margin: 20px; }
      .index__juguetes .juguetes__categorias a {
        display: flex;
        justify-content: center;
        width: 100%; }
        .index__juguetes .juguetes__categorias a .card__juguetes {
          width: 60%; }
  .index__info {
    display: flex; }
    .index__info img {
      width: 40%; }
    .index__info .info__categorias {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .index__info .info__categorias .card__info {
        display: flex;
        margin: 15px;
        padding: 15px; }
        .index__info .info__categorias .card__info p {
          display: flex;
          text-align: center; }
  .index__contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px; }
    .index__contenedor h2 {
      font-size: 1.8rem;
      font-family: "Raleway", sans-serif;
      color: #525252; }
    .index__contenedor .index__contenedortitulo {
      display: flex;
      justify-content: center;
      text-align: center; }
      .index__contenedor .index__contenedortitulo h1 {
        font-size: 2rem; }
    .index__contenedor .index__desarrollo-oculto {
      display: flex;
      justify-content: center;
      margin: 20px 0px 10px 0px; }
    .index__contenedor .index__desarrolloimg {
      display: flex;
      justify-content: center; }
    .index__contenedor .index__desarrollo {
      display: flex;
      align-items: center; }
      .index__contenedor .index__desarrollo h2 {
        display: none; }
    .index__contenedor .index__reciclado-oculto {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .index__contenedor .index__reciclado-oculto h2 {
        margin: 20px 0px 10px 0px; }
    .index__contenedor .index__recicladoimg {
      display: none; }
    .index__contenedor .index__reciclado {
      display: flex;
      align-items: center; }
      .index__contenedor .index__reciclado h2 {
        display: none; }
    .index__contenedor .index__emociones-oculto {
      display: flex;
      align-items: center;
      margin: 20px 0px 10px 0px; }
    .index__contenedor .index__emocionesimg {
      display: flex;
      justify-content: center; }
    .index__contenedor .index__emociones {
      display: flex;
      align-items: center; }
      .index__contenedor .index__emociones h2 {
        display: none; }
  .index__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .index__footer .footer__menu {
      display: flex; }
      .index__footer .footer__menu .categorias {
        display: flex;
        flex-direction: column; }
        .index__footer .footer__menu .categorias .footer__div {
          display: none; }
    .index__footer .footer__redes {
      display: flex;
      margin: 0px;
      width: 100%;
      align-items: center; }
      .index__footer .footer__redes a {
        display: flex;
        justify-content: center;
        margin: 10px 0px 10px 0px; }
        .index__footer .footer__redes a .footer__logo {
          width: 50%; }
          .index__footer .footer__redes a .footer__logo:hover {
            transform: scale(1); } }
