.swal2image{
    border-radius: 20px!important;
}
.swal2confirm{
    border-radius: 20px!important;
    background-color: $color-botones!important;
    &:focus{
        box-shadow: none!important;
    }
}