.swal2-container.swal2-center>.swal2-popup{
    border-radius: 20px!important;
}
.swal2-container{
    
    .swal2-image{
        border-radius: 20px!important;
    }
    .swal2-styled.swal2-confirm{
        border-radius: 15px!important;
        background-color: $color-botones!important;
        &:focus{
            box-shadow: none!important;
        }
    }
}