header{
    display: flex;
    justify-content: space-between;
    background-image: rgb(255,255,255);
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(255,216,208,1) 100%);
    box-shadow: 3px 3px 3px 1px rgba(112, 112, 112, 0.4);
    .header__menu{
        display: flex;
        color: $color-contenido;
        nav{
            display: flex;
            ul{
                display: flex;
                flex-direction: row;
                padding: 0px;
                margin: 5px;
                align-items: center;
                li{
                    display: flex;
                    margin: 10px;
                    a{
                        display: flex;
                        font-weight: 700;
                        color: $color-contenido;
                        font-family: $fuente-contenido2;
                        text-decoration: none;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

    }
    .header__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        .contenedor__logo{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            .logo{
                margin: 10px;
                width: 20%;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

}