$color-titulos:#525252;
$color-fondo: #FFF7F6;
$color-contenido: #BC422B;
$color-contenedor: #102437;
$color-botones: #D6492B;
$fuente-titulo: 'Raleway', sans-serif;
$fuente-contenido: 'Poppins', sans-serif;
$fuente-contenido2: 'DM Sans', sans-serif;