@import 'variables';
@import 'header';
@import 'footer';
@import 'menu';
@import 'tienda';
@import './paginas/producto';
@import './paginas/nosotros';
@import './paginas/productos';
@import './paginas/reciclemos';


body{
    margin: 0px;
    padding: 0px;
}
.index{
    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    &__inicio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 70px;
        .inicio__texto{
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 60%;
            h1{
                font-family: $fuente-titulo;
                font-size: 3rem;
                color: $color-titulos;
            }
            p{
                font-family: $fuente-contenido;  
                font-size: 1rem;
                color: $color-titulos;
                font-size: 16px;
                font-weight: 300;
            }
            .boton1{
                padding: 15px 25px 15px 25px;
                margin: 10px;
                border-radius: 25px;
                background-image: linear-gradient(90deg, rgba(242,209,209,1) 0%, rgba(214,73,43,1) 30%);
                color: white;
                border: none;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .boton2{
                padding: 15px 25px 15px 25px;
                border-radius: 20px;
                background-color: white;
                border: none;
                color: $color-botones;
                margin: 5px;
                    &:hover{
                        transform: scale(1.1);
                    }
            }
        }
        .inicio__imagen{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            .img_principal{
                width: 80%;
                border-radius: 18px;
            }
        }
        .titulo-oculto{
            display: none;
        }
    }
    &__juguetes{
        margin: 50px;
        .titulo__juguetes{
            display: flex;
            justify-content: center;
            font-family: $fuente-titulo;
            font-size: 2rem;
            margin: 50px 0px 20px 0px;
            color: $color-titulos;
        }
        .juguetes__categorias{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px 40px 0px 40px;
            a{
                display: flex;
                width: 25%;
                text-decoration: none;
                .card__juguetes{
                    display: flex;
                    flex-direction: column;
                    box-shadow: 2px 2px 2px rgb(217, 216, 216);
                    padding: 5px;
                    margin: 15px;
                    border-style: solid;
                    border-color: #C8C8C8;
                    border-radius: 18px;
                    font-family: $fuente-contenido;
                    font-size: 1rem;
                    width: 100%;
                    .card__consultanos{
                        display: flex;
                        justify-content: center;
                    }
                    .imagen__juguete{
                        width: 100%;
                        border-radius: 18px;
                    }
                    h5{
                        margin: 10px 5px 5px 5px;
                        font-size: 1rem;
                        color: #343434;
                    }
                    p{
                        margin: 0px 0px 0px 5px;
                        font-size: 0.8rem;
                        color: #343434;
                    }
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
            
        }
        .boton__similares{
            display: flex;
            justify-content: center;
            .boton{
                padding: 15px 25px 15px 25px;
                margin: 10px 10px 50px 10px;
                border-width: 1px;
                border-radius: 25px;
                background-color: white;
                border-color: $color-botones;
                color: $color-botones;
                &:hover{
                    transform: scale(1.1);
                    color: white;
                    background-color: $color-botones;
                    border: none;
                }
            }
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        /*background-image: url(../recursos/imagenes/index/fondoinfo.png);*/
        img{
            width: 30%;
        }
        .info__categorias{
            display: flex;
            flex-direction: row;
            margin: 0px 0px 20px 0px;
            .card__info{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                margin: 20px;
                width: 40%;
                font-family: $fuente-contenido;
                h5{
                    color: black;
                    font-size: 1.2rem;
                    margin: 15px 0px 10px 0px;
                }
                p{
                    display: flex;
                    color: $color-titulos;
                    font-size: 1rem;
                    margin: 10px 0px 10px 0px;
                }
                
            }
        }
    }
    &__contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    align-items: center;
        .img__contenedor{
            width: 60%;
        }
        p{
            text-align: justify;
            font-family: $fuente-contenido2;  
            color: $color-titulos;
            width: 85%;
            font-size: larger;
        }
        h2{
            font-family: $fuente-titulo;  
            font-size: 2rem;
            color: $color-contenedor;
        }
        h1{
            font-family: $fuente-titulo;  
            color: $color-titulos;
            justify-items: center;
            font-size: 2.3rem;
        }
    }
    &__contenedortitulo:first-child{
        grid-column: 1/3;
        display: flex;
        justify-content: center;
    }
    &__desarrollo-oculto:nth-child(2){
        display: none;
    }
    &__desarrolloimg:nth-child(3){
        grid-column: 1/2;
        display: flex;
    }
    &__desarrollo:nth-child(4){
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
    }
    &__reciclado-oculto:nth-child(5){
        display: none;
    }
    &__reciclado:nth-child(6){
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__recicladoimg:nth-child(7){
        grid-column: 2/3;
        display: flex;
        justify-content: center;
    }
    &__emociones-oculto:nth-child(8){
        display: none;
    }
    &__emocionesimg:nth-child(9){
        grid-column: 1/2;
        display: flex;
    }
    &__emociones:nth-child(10){
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
    }
}

/* MEDIA QUERIES */
@media (min-width: 991px) and (max-width: 1100px){
    .index{
        &__info{
            display: flex;
            img{
                width: 45%;
            }
        }
        &__contenedor{
            .index__contenedortitulo{
                margin: 20px;
            }
            .index__desarrolloimg{
                margin: 0px 0px 25px 0px;
            }
            .index__desarrollo{
                margin: 0px 0px 25px 0px;
            }
            .index__reciclado{
                margin: 0px 0px 25px 0px;
            }
            .index__recicladoimg{
                margin: 0px 0px 25px 0px;
            }
            .index__emocionesimg{
                margin: 0px 0px 25px 0px;
            }
            .index__emociones{
                margin: 0px 0px 25px 0px;
            }
        }
        &__footer{
            display: flex;
            .footer__redes{
                display: flex;
                padding: 10px;
                margin: 0px;
                width: 100%;
                .footer__img{
                    a{
                        display: flex;
                        img{
                            width: 60%;
                        }
                    }
                }
                
            }
        }
    }
}

@media (min-width: 721px) and (max-width: 990px){
    .index{
        &__inicio{
            display: flex;
            margin: 30px;
            .inicio__texto{
                h1{
                    font-size: 2rem;
                }
                margin: 20px;
            }
            .inicio__imagen{
                display: flex;
                width: 50%;
            }
        }
        &__juguetes{
            margin: 0px;
            .juguetes__categorias{
                display: flex;
                margin: 0px;
                a{
                    display: flex;
                    text-align: center;
                    width: 30%;
                }
            }
        }
        &__info{
            .info__categorias{
                margin: 0px 0px 20px 0px;
                .card__info{
                    margin: 30px;
                    padding: 0px;
                    justify-content: flex-start;
                    img{
                        width: 40%;
                    }
                    h5{
                        font-size: 1rem;
                    }
                    p{
                        display: flex;
                        text-align: center;
                        font-size: 1rem;
                    }
                }
            }
        }
        &__contenedor{
            .index__contenedortitulo{
                margin: 20px;
            }
            .index__desarrolloimg{
                margin: 0px 0px 25px 0px;
                img{
                    width: 80%;
                }
            }
            .index__desarrollo{
                margin: 0px 0px 25px 0px;
            }
            .index__reciclado{
                margin: 0px 0px 25px 0px;
            }
            .index__recicladoimg{
                margin: 0px 0px 25px 0px;
                img{
                    width: 80%;
                }
            }
            .index__emocionesimg{
                margin: 0px 0px 25px 0px;
                img{
                    width: 80%;
                }
            }
            .index__emociones{
                margin: 0px 0px 25px 0px;
            }
        }
        &__footer{
            display: flex;
            flex-direction: column-reverse;
            .footer__redes{
                display: flex;
                padding: 10px;
                margin: 0px;
                width: 100%;
                .footer__img{
                    a{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 30%;
                        }
                    }
                }
                .footer__iconos{
                    display: flex;
                    justify-content: center;
                }
            }
            .footer__menu{
                display: flex;
                .categorias{
                    display: flex;
                    justify-content: center;
                }
                .footer__derechos{
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 541px) and (max-width: 720px){
    .index{
        &__header{
            .header__logo{
                .contenedor__logo{
                    width: 30%;
                    .logo{
                        display: flex;
                        width: 100%;
                    }
                }
            }
        }
        &__inicio{
            display: flex;
            flex-direction: column-reverse;
            margin: 30px;
            .titulo{
                display: none;
            }
            .inicio__texto{
                display: flex;
                align-items: center;
                margin: 25px;
                width: 100%;
            }
            .inicio__imagen{
                margin: 15px;
                width: 100%;
                .img_principal{
                    display: flex;
                    justify-content: center;
                    width: 60%;
                }
            }
            .titulo-oculto{
                display: flex;
                font-family: $fuente-titulo;
                font-size: 2rem;
                color: $color-titulos;
                margin: 30px;
                text-align: center;
            }
        }
        &__juguetes{
            margin: 0px;
            .juguetes__categorias{
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    .card__juguetes{
                        width: 80%;
                        h5{
                            font-size: 1.2rem;
                        }
                        p{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        &__info{
            display: flex;
            img{
                width: 35%;
            }
            .info__categorias{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .card__info{
                    display: flex;
                    margin: 15px;
                    padding: 15px;
                    p{
                        display: flex;
                        text-align: center;
                    }
                }
            }
        }
        &__contenedor{
            display: flex;
            flex-direction: column;
            width: 100%;
            h2{
                font-size: 1.6rem;
                font-family: $fuente-titulo;
                color: $color-titulos;
            }
            .index__contenedortitulo{
                display: flex;
                justify-content: center;
                h1{
                    font-size: 2rem;
                }
            }
            .index__desarrollo-oculto{
                display: flex;
                justify-content: center;
                margin: 20px 0px 10px 0px;
            }
            .index__desarrolloimg{
                display: flex;
                justify-content: center;
                img{
                    width: 50%;
                }
            }
            .index__desarrollo{
                display: flex;
                align-items: center;
                h2{
                    display: none;
                }
            }
            .index__reciclado-oculto{
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    margin: 20px 0px 10px 0px;
                }
                img{
                    width: 50%;
                }
            }
            .index__recicladoimg{
                display: none;
            }
            .index__reciclado{
                display: flex;
                align-items: center;
                h2{
                    display: none;
                }
            }
            .index__emociones-oculto{
                display: flex;
                align-items: center;
                margin: 20px 0px 10px 0px;
            }
            .index__emocionesimg{
                display: flex;
                justify-content: center;
                img{
                    width: 50%;
                }
            }
            .index__emociones{
                display: flex;
                align-items: center;
                h2{
                    display: none;
                }
            }

            }
        &__footer{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .footer__menu{
                display: flex;
                .categorias{
                    display: flex;
                    flex-direction: column;
                    .footer__div{
                        display: none;
                    }
                }
            }
            .footer__redes{
                display: flex;
                margin: 0px;
                width: 100%;
                align-items: center;
                a{
                    display: flex;
                    justify-content: center;
                    margin: 10px 0px 10px 0px;
                    .footer__logo{
                        width: 50%;
                        &:hover{
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 540px){
    .index{
        &__header{
            .header__menu{
                nav{
                    ul{
                        display: none;
                    }
                }
            }
            .header__logo{
                .contenedor__logo{
                    display: flex;
                    justify-content: flex-end;
                    width: 30%;
                }
            }
        }
        &__main{
            display: flex;
            justify-content: center;
        }
        &__inicio{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            margin: 15px;
            .inicio__texto{
                width: 100%;
                h1{
                    display: none;
                }
                p{
                    display: flex;
                }
                .botones__index{
                    display: flex;
                    justify-content: center;
                }
            }
            .inicio__imagen{
                width: 100%;
                margin: 15px;
                .img_principal{
                    display: flex;
                    width: 50%;
                }
            }
            .titulo-oculto{
                display: flex;
                font-family: $fuente-titulo;
                font-size: 1rem;
                color: $color-titulos;
                margin: 15px;
                text-align: center;
            }
        }
        &__juguetes{
            margin: 0px;
            .titulo__juguetes{
                margin: 0px;
            }
            .juguetes__categorias{
                display: flex;
                flex-direction: column;
                margin: 20px;
                a{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .card__juguetes{
                        width: 60%;
                    }

                }
            }
        }
        &__info{
            display: flex;
            img{
                width: 40%;
            }
            .info__categorias{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .card__info{
                    display: flex;
                    margin: 15px;
                    padding: 15px;
                    p{
                        display: flex;
                        text-align: center;
                    }
                }
            }
        }
        &__contenedor{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px;
            h2{
                font-size: 1.8rem;
                font-family: $fuente-titulo;
                color: $color-titulos;
            }
            .index__contenedortitulo{
                display: flex;
                justify-content: center;
                text-align: center;
                h1{
                    font-size: 2rem;
                }
            }
            .index__desarrollo-oculto{
                display: flex;
                justify-content: center;
                margin: 20px 0px 10px 0px;
            }
            .index__desarrolloimg{
                display: flex;
                justify-content: center;
            }
            .index__desarrollo{
                display: flex;
                align-items: center;
                h2{
                    display: none;
                }
            }
            .index__reciclado-oculto{
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    margin: 20px 0px 10px 0px;
                }
            }
            .index__recicladoimg{
                display: none;
            }
            .index__reciclado{
                display: flex;
                align-items: center;
                h2{
                    display: none;
                }
            }
            .index__emociones-oculto{
                display: flex;
                align-items: center;
                margin: 20px 0px 10px 0px;
            }
            .index__emocionesimg{
                display: flex;
                justify-content: center;
            }
            .index__emociones{
                display: flex;
                align-items: center;
                h2{
                    display: none;
                }
            }

        }  
        &__footer{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .footer__menu{
                display: flex;
                .categorias{
                    display: flex;
                    flex-direction: column;
                    .footer__div{
                        display: none;
                    }
                }
            }
            .footer__redes{
                display: flex;
                margin: 0px;
                width: 100%;
                align-items: center;
                a{
                    display: flex;
                    justify-content: center;
                    margin: 10px 0px 10px 0px;
                    .footer__logo{
                        width: 50%;
                        &:hover{
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}